@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap");
$color-primary: #ff5e5e;
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lora", serif;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (min-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (min-width: 56.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (min-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @include respond(phone) {
    font-size: 50%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;

  font-family: $font-primary;

  @include respond(tab-port) {
    padding: 0;
  }
}

.top {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  cursor: pointer;
}
.bottom {
  display: none;

  @include respond(tab-port) {
    font-size: 10rem;
    display: block;
    top: 30rem;
    left: 2rem;
    font-size: 5rem;
    position: absolute;
    top: 40rem;
    left: 2rem;
    animation-name: moveInTop;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    cursor: pointer;
    z-index: 120;
  }
}
a{
  text-decoration: none;
}
