.carousel {
  &__container {
    margin-top: 3rem;
    background-color: #edeff6;
    padding: 4rem;
  }
  width: 100%;

  &__title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &--margin {
      margin-top: 0;
      @include respond(tab-port) {
        margin-top: 10rem;
      }
    }

    &-img {
      width: 20rem;
      height: 20rem;
      overflow: hidden;
      position: relative;
      @include respond(tab-port) {
        width: 30rem;
        height: 30rem;
      }
      &-child {
        width: 100%;
        height: 100%;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease;
      }
      &:hover {
        .carousel__card-img-child {
          transform: scale(1.2);
        }
      }
    }
  }
  &__btn {
    background-color: transparent;
    border: 0;
    font-weight: 400;
    margin-top: 2rem;
    transition: all 0.2s;
    font-family: $font-primary;

    cursor: pointer;
    &:hover {
      transform: translateX(2rem);
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  }
}
.alice-carousel {
  &__dots {
    list-style: none;
    text-align: center;

    @include respond(tab-port) {
      position: absolute;
      top: 0;
      left: 50rem;
    }
  }
}
