.carousel {
  width: 100%;

  @include respond(tab-port) {
    max-width: 1140px;
    margin: 36px auto;
  }

  &__container {
    margin-top: 3rem;
    background-color: #edeff6;
    padding: 3rem;
    @include respond(tab-port) {
      padding: 10rem;
    }
  }

  &__title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;



    &-img {
      width: 20rem;
      height: 20rem;
      overflow: hidden;
      position: relative;

      @include respond(tab-port) {
        width: 30rem;
        height: 30rem;
      }

      &-child {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease;
      }

      &:hover {
        .carousel__card-img-child {
          transform: scale(1.2);
        }
      }
    }
  }

  &__btn {
    background-color: transparent;
    border: 0;
    font-weight: 400;
    margin-top: 2rem;
    transition: all 0.2s;
    font-family: $font-secondary;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;

    .arrow {
      padding-left: .25rem;
      display: block;
      transition: transform .3s;
    }

    &:hover {
      .arrow {
        transform: translateX(8px);
        transition: transform .3s;
      }
    }

    &.all {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  }
}

.alice-carousel {
  &__dots {
    display: none;
  }
  &__prev-btn{
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px!important;
    transform:translateY(-50%);
    text-align: left;
    &-item{
      font-size: 72px;
      &__inactive{
        display: none;
      }
    }
  }
  &__next-btn{
    position: absolute;
    right: 0;
    top: 50%;
    text-align: right;
    transform:translateY(-50%);
    width: 100%!important;
    &-item{
      font-size: 72px;
      &__inactive{
        display: none;
      }      
    }
  }

}
