.contact {
  margin-bottom: 5rem;
  &__title {
    font-size: 5rem;
    text-align: center;
    margin: 3rem;
  }
  &__dashboard {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    @include respond(tab-port) {
      margin-left: 3rem;
      flex-direction: row-reverse;
    }
  }

  &__container {
    width: 80%;

    @include respond(tab-port) {
      align-self: flex-start;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
    }
  }
  &__assets {
    width: 80%;
    @include respond(tab-port) {
      margin: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 40%;
    }
    &--img {
      width: 100%;
      @include respond(tab-port) {
        transform: rotate(0deg);
        display: block;
        width: 50%;
        align-self: flex-start;
        margin-top: 10rem;
        justify-self: flex-end;
        justify-self: end;
      }
    }
    &--text {
      width: 100%;

      text-align: left;
      font-size: 3rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      @include respond(tab-port) {
        align-self: flex-start;
        margin: 0;
        font-size: 4rem;
        width: 70%;
      }
    }
  }
  &__form {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    @include respond(tab-port) {
      width: 70%;
      justify-self: center;
    }
    @include respond(big-desktop) {
      width: 70%;
    }
    &--label {
      margin: 3rem;
    }
    &--input {
      width: 80%;

      color: #333;
      width: 100%;
      box-sizing: border-box;
      letter-spacing: 1px;

      &_effect {
        border: none;
        width: 100%;
        padding: 7px 0;
        border-bottom: 1px solid #ccc;
        &_border {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: black;
          transition: 0.4s;
        }

        &:focus {
          outline: none;
        }
        &:focus ~ &_border {
          width: 100%;
          transition: 0.4s;
        }
      }
    }
    &--rotation-wrapper-outer {
      cursor: pointer;
      margin-top: 5rem;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12rem;
      height: 12rem;
      background-color: $color-primary;
      border-radius: 50%;
      transition: all 0.5s;
      transform: rotate(-45deg);
      align-self: flex-start;
      @include respond(tab-port) {
        margin-top: 5rem;
      }
      &:hover {
        transform: scale(1.1) rotate(0deg);
      }
    }

    &--element-to-rotate {
      background-color: transparent;
      border: 0;
      text-decoration: none;
      display: block;
      color: white;
      font-weight: bold;
      font-size: 1.7rem;

      /* transform: rotate(90deg) translate(0, -100%); */
    }
  }
  @include respond(tab-port) {
    height: 100vh;
  }
}
