.workBg {
  display: flex;

  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  @include respond(tab-port) {
    flex-direction: row;
    justify-content: center;
  }
  &__info {
    margin-top: 3rem;

    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    @include respond(tab-port) {
      width: 100%;
      padding: 0;

      justify-content: space-around;
      justify-self: flex-start;
    }
    &--title {
      margin-top: 3rem;
      width: 70%;
    }
    &--h1 {
      @include respond(tab-port) {
        font-size: 10rem;
      }
    }
    &--btn {
      text-decoration: none;
      color: black;
      display: block;
      margin-top: 5rem;
      transition: all 0.2s;
      font-family: $font-primary;
      cursor: pointer;
      &:hover {
        transform: translateX(2rem);
      }
    }
  }
  &__img {
    width: 100%;
    @include respond(tab-port) {
      width: 60%;
    }
    &--container {
      width: 100%;

      @include respond(tab-port) {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
