.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  @include respond(tab-port) {
    height: 30vh;
    margin-top: -20rem;
  }
  &__links {
    margin-left: 3rem;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-self: stretch;

    flex-direction: column;
    &-p {
      color: $color-primary;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 2rem;
    }
    &-m {
      padding-bottom: 2rem;
    }
  }
  &__info {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 1.71;
    letter-spacing: 2px;
    color: WHITE;
  }
}
