.header {
  position: relative;
  height: 100vh;
  width: 100%;
  @include respond(tab-port) {
  }
  &__bg {
    background-image: url("../assets/hola.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-size: contain;
    animation-name: moveInTopLarge;
    animation-duration: 0.7s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    @include respond(tab-port) {
      height: 80vh;
      background-size: initial;
    }
  }
  &__title {
    position: absolute;
    font-size: 3rem;
    width: 85%;
    top: 35%;
    font-weight: 200;
    margin-left: 4rem;
    line-height: 1.25;
    letter-spacing: 0.3rem;
    animation-name: moveInBottom;
    animation-duration: 0.7s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    word-wrap: break-word;
    @include respond(tab-port) {
      left: 15%;
      top: 20%;
      font-size: 6rem;
      font-weight: lighter;
      width: 60%;
    }
    @include respond(big-desktop) {
      top: 30%;
    }
  }
  &__text {
    font-weight: 200;
    font-family: $font-primary;
    position: fixed;
    right: 0rem;
    top: 15rem;
    font-size: 1.3rem;
    transform: rotate(-90deg);
    z-index: 1000;
    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 2rem;
    left: 2rem;

    border-radius: 50%;
    z-index: 2000;
    text-align: center;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    background-color: black;
    z-index: 1000;

    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: white;
      text-decoration: none;

      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      transform: translateX(1rem);
      background-position: 100%;
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(50);

    @include respond(big-desktop) {
      transform: scale(100);
    }
    @include respond(tab-port) {
      transform: scale(60);
    }
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      0.8s both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
.project {
  position: fixed;
  top: 3rem;
  right: 2rem;
  height: 12rem;
  z-index: 100;
  cursor: pointer;

  &__circle {
    display: block;
    box-sizing: border-box;
    border-radius: 51%;
    width: 5rem;
    height: 5rem;
    background-color: $color-primary;

    transition: all 0.2s ease;
    margin-bottom: 2rem;
    &:hover {
      transform: scale(0.5);
    }
  }
}
